
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
**/node_modules/

.env
.env.local
.env.*.local
**/.env
**/.env.local

dist/
dist-ssr/
build/
bin/
obj/

