openapi: 3.0.0
info:
  title: API PW CAKES
  version: 1.0.0
  description: API PW CAKES.
  contact:
    name: Support Technique

servers:
  - url: http://localhost:5001
    description: Environnement de Développement


components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: jwt

security:
  - cookieAuth: []


paths:
  /api/users:
    post:
      summary: Inscription
      tags: [User]
      security: [] 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username: { type: string, example: "Pravin" }
                email: { type: string, example: "pravin@email.com" }
                password: { type: string, example: "Azerty123!" }
                telephone: { type: string, example: "0612345678" }
      responses:
        201:
          description: Utilisateur créé avec succès
        400:
          description: Erreur de validation

    get:
      summary: Liste de tous les utilisateurs 
      tags: [User]
      security:
        - cookieAuth: []
      responses:
        200:
          description: Liste des utilisateurs récupérée avec succès
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id: { type: string }
                    username: { type: string }
                    email: { type: string }
                    role: { type: string }
                    telephone: { type: string }
        401:
          description: Non autorisé (Token manquant ou invalide)
        403:
          description: Accès refusé (Droits administrateur requis)

  /api/users/auth:
    post:
      summary: Connexion
      tags: [User]
      security: [] 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, example: "pravin@test.com" }
                password: { type: string, example: "Azerty123!" }
      responses:
        200:
          description: Connexion réussie 
        401:
          description: Identifiants invalides

  /api/users/logout:
    post:
      summary: Déconnexion
      tags: [User]
      responses:
        200: { description: Cookie supprimé }
        401: { description: Non autorisé }

  /api/users/profile:
    get:
      summary: Utilisateur connecté
      tags: [User]
      responses:
        200:
          description: Données du profil
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id: { type: string }
                  username: { type: string }
                  email: { type: string }
                  role: { type: string }
        401:
          description: Non autorisé

  /api/users/{id}:
    get:
      summary: Obtenir un utilisateur par ID 
      tags: [User]
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
          description: ID de l'utilisateur
      responses:
        200:
          description: Détails de l'utilisateur
        404:
          description: Utilisateur non trouvé

    put:
      summary: Mettre à jour un utilisateur par ID 
      tags: [User]
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username: { type: string }
                email: { type: string }
                role: { type: string, enum: [client, admin] }
      responses:
        200:
          description: Utilisateur mis à jour
        404:
          description: Utilisateur non trouvé

    delete:
      summary: Supprimer un utilisateur 
      tags: [User]
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
      responses:
        200:
          description: Utilisateur supprimé
        404:
          description: Utilisateur non trouvé